/* Stylesheet für die Übungswebsite */

/* Base settings */

* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
}

#success {
  margin: 0.5rem;
  color: #6ab04c;
}

body {
  margin: 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  font: normal 1em Verdana, sans-serif;
  background-color: lightsteelblue;
}

input[type="button"] {
  cursor: pointer;
}

main {
  padding: 50px;
  background: #ececec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

a {
  color: #97b314;
}

a:hover,
a:focus {
  background: rgba(127, 255, 212, 0);
  color: #708900;
}

/*Schriften müssen noch bestimmt werden!*/

/*Layout*/

/*Navigation and Footer*/
.site-nav {
  background-color: #2d2b2b;
  width: 100%;
  top: 0;
  position: sticky;
  color: #fff;
  z-index: 9999;
}

.site-nav li {
  font-size: 14px;
  font-weight: bold;
}

.site-nav li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px 16px;
}

.site-nav li a:hover {
  background-color: white;
  color: black;
  transition: all 0.25s;
}

/*Mobile Menu*/
.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.menu-open {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.menu .menu-button {
  order: 3;
}

.menu-open .menu-button {
  order: 3;
  background-color: cornflowerblue;
}

.menu-open .nav-item {
  order: 4;
  width: 100%;
  display: block;
}

.nav-item {
  order: 4;
  width: 100%;
  display: none;
}

.menu .nav-current {
  order: 1;
  background-color: cornflowerblue;
  color: white;
  display: block;
}

.testimonial-rating {
  justify-content: end;
  display: flex;
}

.likeButton {
  background-color: hsla(219, 79%, 66%, 0.158);
  border: 1px solid white;
  display: flex;
  align-items: center;
  width: 5rem;
  height: 2rem;
}

.likeButton:hover {
  border-radius: 80%;
  border-color: rgb(219, 84, 67);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
}

.likeButton:hover .cls-1 {
  fill: red;
}

.likeButton img {
  background: url('data:image/svg+xml;utf8,<svg id="Ebene_1" data-name="Ebene 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.73 14.05"><defs><style>.cls-1{fill:#fff;stroke:#e52421;stroke-miterlimit:10;}</style></defs><path class="cls-1" d="M1.61,1.89C5.85-1.51,8,7.05,8,7.05s2-8.57,6.31-5.2S8,14,8,14-2.63,5.28,1.61,1.89Z" transform="translate(-0.11 -0.57)"/></svg>');
}

.likeButton > * {
  cursor: pointer;
}
.heartContainer {
  width: 50%;
}

.testimonial svg {
  width: 15px;
  height: 15px;
  border-radius: 0;
}

.menu-open .nav-current {
  order: 1;
  background-color: cornflowerblue;
  color: white;
  display: block;
  flex-grow: 1;
}

/*Desktop Menu*/
@media screen and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .menu-open {
    justify-content: center;
  }

  .nav-item {
    width: auto;
    order: initial;
    display: block;
  }
  .menu-open .nav-item {
    width: auto;
    order: initial;
    display: block;
  }
  .menu .nav-current {
    width: auto;
    order: initial;
    flex-grow: initial;
  }

  .menu-open .nav-current {
    width: auto;
    order: initial;
    flex-grow: initial;
  }
  .menu-button {
    display: none;
  }
}

/*Content*/

.site-content {
  padding: 1.5rem;
  padding-top: 10px;
  padding-bottom: 50px;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100%;
}

/*Forms*/

/*Formatierung eingefügter Bilder*/
.iframe-bafs,
iframe {
  height: 300px;
  margin: auto;
  border: none;
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#testimonials {
  padding: 40px 0;
  color: #434343;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-border {
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}

.testimonial-col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 2px rgb(100, 100, 100));
  padding: 10px;
}

.testimonial {
  height: 350px;
  overflow: hidden;
  background: #fff;
  padding: 30px;
}

.testimonial > * {
  margin: 0.75rem 0;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.testimonial-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.testimonial-title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.25rem 0;
}
.testimonial-price {
  color: red;
}
@media screen and (max-width: 960px) {
  .testimonial-col {
    flex: 100%;
    max-width: 80%;
  }
  .testimonial-card img {
    width: 120px;
    height: 120px;
  }
  .testimonial {
    height: auto;
    display: flex;
    flex-flow: column;
  }

  .testimonial-title {
    justify-content: end;
  }

  .testimonial-quote {
    align-self: end;
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .testimonial-col {
    flex: 100%;
    max-width: 100%;
  }

  .testimonial-title {
    justify-content: center;
  }
  .testimonial-quote {
    width: 100%;
  }
}

/* Link "Nach oben" rechts ausrichten */
/*.site-footer {
  text-align: center;
  position: sticky;
  margin: 0 auto;
  padding: 0;
  bottom: 0;
  background-color: white;
  border-radius: 1em;

}*/
/*
.site-footer {

  position: fixed;
  bottom: 0;
  height: 50px;
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;

}*/

.footer-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 0;
}

.site-footer .footer-menu .footer-menu-button {
  order: 3;
}

.site-footer-up .footer-menu .footer-menu-button {
  order: 3;
  background-color: cornflowerblue;
}

.site-footer-up .footer-menu .nav-item {
  order: 4;
  width: 100%;
  display: block;
}

.footer-menu .nav-standard {
  order: 1;
  color: white;
  flex-grow: 1;
  text-align: center;
  padding-left: 40px;
}

.nav-item {
  order: 4;
  width: 100%;
  display: none;
}

.site-footer .footer-menu .nav-current {
  order: 1;
  background-color: cornflowerblue;
  color: white;
  flex-grow: 1;
  text-align: center;
  padding-left: 40px;
}

.site-footer-up .footer-menu .nav-current {
  order: 1;
  background-color: cornflowerblue;
  color: white;
  display: block;
  flex-grow: 1;
  padding-left: 40px;
}

.site-footer,
.site-footer-up {
  position: fixed;
  bottom: 0;
  max-width: 1200px;
  min-width: 100px;
  width: 100%;
  background-color: #2d2b2b;
  color: #fff;
  text-align: center;
}
.site-footer {
  height: 50px;
}

.site-footer-up {
  height: 200px;
}

.site-footer li,
.site-footer-up li {
  font-size: 14px;
  font-weight: bold;
}

.site-footer li a,
.site-footer-up li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 16px 16px;
}

.site-footer li a:hover,
.site-footer-up li a:hover {
  background-color: white;
  color: black;
  transition: all 0.25s;
}

@media screen and (min-width: 700px) {
  .site-footer {
    height: 50px;
  }
  .site-footer-up {
    height: 50px;
  }

  .footer-menu {
    justify-content: center;
  }

  .nav-item {
    width: auto;
    order: initial;
    display: block;
  }
  .site-footer-up .footer-menu .nav-item {
    width: auto;
    order: initial;
    display: block;
    flex-grow: initial;
  }
  .site-footer .footer-menu .nav-current {
    width: auto;
    order: initial;
    flex-grow: initial;
    padding-left: 0px;
  }

  .site-footer-up .footer-menu .nav-current {
    width: auto;
    order: initial;
    flex-grow: initial;
    padding-left: 0px;
  }
  .footer-menu-button {
    display: none;
  }

  .footer-menu .nav-standard {
    order: initial;
    flex-grow: initial;
    text-align: center;
    padding-left: 0px;
  }
}

/* Seiteninterne Links sollen sanft gleiten  */
html {
  scroll-behavior: smooth;
}

/*Hier ist die Definition der Flip-box der Produkte... Wird noch angepasst!!!!*/
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
#products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-row {
  width: 33%;
  padding: 0.5rem;
  max-width: 33.33%;
}
/*
flex: 33.33%;
max-width: 33.33%;
box-sizing: border-box;
padding: 10px;
*/

@media screen and (max-width: 960px) {
  .product-row {
    flex: 100%;
    max-width: 50%;
  }
  .flip-box-front img {
    height: auto;
    max-width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .product-row {
    flex: 100%;
    max-width: 100%;
  }
  .flip-box-front img {
    height: auto;
    max-width: 50%;
  }
}

.cls-1 {
  cursor: pointer;
}

.flip-box {
  background-color: transparent;
  filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
  height: 300px;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1em;
}

/* Style the front side */
.flip-box-front {
  background-color: cornflowerblue;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #2d2b2b;
  color: white;
  transform: rotateY(180deg);
}

.flip-box-front img,
.flip-box-back img {
  border-radius: 1em;
}

.flip-box-front img {
  height: auto;
  width: 70%;
}

.flip-box-text {
  max-width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px;
}

/*Kontaktformular*/

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.col {
  flex: 1 1 8%;
  margin: 0 0 0.5rem 0;
  padding: 0.5em 10px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.box--full {
  display: flex;
  margin: 0.5rem;
  background: white;
  border-bottom: 3px solid #dedfdf;
  flex: 1 1 100%;
  flex-flow: column;
  padding: 1rem;
  border-radius: 4px;
}

.box--half {
  display: flex;
  margin: 0.5rem;
  background: white;
  border-bottom: 3px solid #dedfdf;
  flex: 1 1 30%;
  flex-flow: column;
  padding: 1rem;
  border-radius: 4px;
  flex-shrink: 1;
  flex-basis: 250px;
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea {
  font-size: 1.3em;
  width: 100%;
  font: normal 1em Verdana, sans-serif;
  background-color: transparent;
}

label {
  font-weight: bold;
  color: #000;
  font-size: 1em;
}

input,
textarea {
  border: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  resize: none;
  border-color: transparent;
  height: 100px;
}

.title {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  width: 100%;
  padding-left: 10px;
  /*margin: 24px 0 16px;*/
  margin: auto;
  text-align: center;
}

#submit {
  padding: 1.5rem;
  margin: 0.5rem;
  border: 0 none;
  font-size: 1.5em;
  border-bottom: 3px solid cornflowerblue;
  background-color: cornflowerblue;
  font-weight: bold;
  color: #fff;
  width: 100%;
  border-radius: 4px;
}

#submit:hover #submit:focus {
  cursor: pointer;
}

.error {
  color: orangered;
}

.rating {
  position: relative;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.rating-star-design,
.rating-star-components {
  font-size: 1.3em;
  cursor: pointer;
  color: cornflowerblue;
  transition: filter linear 0.3s;
}

.rating-star-design:hover,
.rating-star-components:hover {
  filter: drop-shadow(1px 1px 4px cornflowerblue);
}
